/*html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 0 auto;
    max-width: 1920px;
}

figure {
    margin: 0;
}

.nav {
    display: flex;
    list-style-type: none;
    position: absolute;
    gap: 3em;
    font-size: 2.2em;
}

.nav__item > a {
    text-decoration: none;
    color: aliceblue;
}

.header__nadpis {
    position: absolute;
    left: 2000px;
    top: 500px;
    color: white;
    font-size: 5em;
}

.header__nadpis--smaller {
    display: flex;
    justify-content: left;
    font-size: 4em;
}

.theme {
    display: flex;
    background-color: rgb(88, 88, 241);
    font-size: 2.2em;
}

.theme__text--blue {
    width: 50%;
    color: white;
    margin: 2.5em;
}

.foto__bestof--blue {
    width: 300px;
}

.theme--smaller_theme--dark {
    background-color: rgb(56, 26, 26);
}

.header__nadpis--aboutme {
    color: white;
    font-size: 2.5em;
    margin: 2.5em top;
}

.theme__text--brown {
    font-size: 2.2em;
    color: white;
    display: flex;
    text-align: justify;
    text-align-last: left;
}

.foto__about--brown {
    object-position: right;
}

.theme__text--pink {
    font-size: 2.2em;

}

.gallery-photo-threeof__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: pink;
}

.threeof__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    background-color: pink;
}

.description__threeof {
    font-size: 1.8em;
}

.h2-heading {
    background-color: rgb(243, 243, 183);
    display: flex;
    justify-content: left;
    font-size: 4em;
}

.h2-heading--text {
    font-size: 2.2em;
    background-color: rgb(243, 243, 183);
}

.fiveinone__item_gallery-photo {
    background-color: rgb(243, 243, 183);
}

.h2-headnig {
    display: flex;
    justify-content: left;
    font-size: 4em;
}

.gallery__item-gallery-photo {
    background-color: rgb(4, 70, 4);
    display: flex;
    flex-direction: row;
    align-items: stretch;
}*/   



/* !!! TENTO KÓD NAVŽDY UPADL V ZAPOMNĚNÍ !!! */